@model KoscielniakInfo.Models.Photo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create","Photos",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Photo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.isCertificate, "Certificate?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("isCertificate", false, new { @class="checkbox"})
                @Html.ValidationMessageFor(model => model.isCertificate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=>model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model=>model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model=>model.Description,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.JobID,"JobID", htmlAttributes: new {@class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JobID", String.Empty)
                @Html.ValidationMessageFor(model=>model.JobID,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.SchoolID, "SchoolID", htmlAttributes: new {@class = "control-label col-md-2" })
            <div>
                @Html.DropDownList("SchoolID", String.Empty)
                @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HobbyID, "HobbyID", htmlAttributes: new {@class = "control-label col-md-2" })
            <div>
                @Html.DropDownList("HobbyID", String.Empty)
                @Html.ValidationMessageFor(model => model.HobbyID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sorting, "Sorting", htmlAttributes: new {@class = "control-label col-md-2" })
            <div>
                @Html.DropDownList("Sorting", String.Empty)
                @Html.ValidationMessageFor(model => model.Sorting, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.URL, "URL", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <input type="file" class="form-control glyphicon-file" name="URL" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
