@model KoscielniakInfo.Models.School

@{
    ViewBag.Title = "Education Details";
}

<div>
    <h2>@Html.DisplayFor(Model => Model.University) - @Html.DisplayFor(Model => Model.Faculty)</h2>
    @*@if (Context.User.Identity.IsAuthenticated)
    {*@
    <p>
        <h4>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </h4>
    </p>
    @*}*@
    <hr />
    <h3>Basic Information</h3>
    <dl class="dl-horizontal">
        <dt>
            Completed?
        </dt>

        <dd>
            @if (Model.Finished.Equals(true))
            {
                <img src="~/Common Images/Completed.png" height="20" width="20" />
            }
            else
            {
                <img src="~/Common Images/InProgress.jpg" height="20" width="30" />
            }
        </dd>

        <dt>
            Course:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            Finishing Grade:
        </dt>

        <dd>
            EU: @Html.DisplayFor(model => model.EuGrade.Grade) / US: @Html.DisplayFor(Model => Model.USGrade)
        </dd>

        <dt>
            Thesis Promoter:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThesisPromoter)
        </dd>

        <dt>
            Thesis Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThesisTitle)
        </dd>

        <dt>
            Begin Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            End Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>
    <hr />
    <hr />
    <h3>Projects</h3>
    @foreach (var project in Model.Projects)
    {
        <dl class="dl-horizontal">
            <dt>
                Project Name:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => project.Name)
            </dd>
            <dt>
                Project Role:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => project.Role)
            </dd>
            <dt>
                Project Description:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => project.Description)
            </dd>
            <dt>
                Project Result:
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => project.Outcome)
            </dd>
        </dl>
        <hr />
    }
    <hr />
    <h3>Photos</h3>

    @foreach (var photo in Model.Photos)
    {
        int i = 0;
        <a href="~/Photos/@photo.URL"><img src="~/Photos/Miniatures/@photo.URL" alt="@photo.Description" /></a>
        if (i%3==0 && i>=3)
	    {
		   <br/>
	    }
        i++;
    }
</div>

